#### Importing our Libraries

In [2]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

#### Reading the Dataset from our CSV file

##### The dataset we will use contains inforamtion about an electric car-sharing(Bluecar) service company.

In [112]:
url = 'http://bit.ly/autolib_dataset'

df = pd.read_csv(url)

##### Previewing our Dataset

In [113]:
df.head()

,Address,Cars,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Displayed comment,ID,...,Scheduled at,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,2 Avenue de Suffren,0,0,0,0,0,nonexistent,Paris,NaN,paris-suffren-2,...,NaN,2,station,ok,nonexistent,2018,4,8,11,43
1,145 Rue Raymond Losserand,6,6,0,0,0,operational,Paris,NaN,paris-raymondlosserand-145,...,NaN,0,station,ok,nonexistent,2018,4,6,7,24
2,2 Avenue John Fitzgerald Kennedy,3,3,0,2,0,operational,Le Bourget,NaN,lebourget-johnfitzgeraldkennedy-2,...,NaN,1,station,ok,nonexistent,2018,4,3,20,14
3,51 Rue EugÃ¨ne OudinÃ©,3,3,1,0,1,operational,Paris,NaN,paris-eugeneoudine-51,...,NaN,2,station,ok,nonexistent,2018,4,4,4,37
4,6 avenue de la Porte de Champerret,3,3,0,0,0,nonexistent,Paris,NaN,paris-portedechamperret-6,...,NaN,3,station,ok,nonexistent,2018,4,8,17,23

##### Accessing Information about our Dataset

In [114]:
# We can getting to know more about the dataset by accessing its information 
#
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [115]:
df.shape

(5000, 25)

#### Cleaning the dataset

###### Checking for Null values

In [116]:
df.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [117]:
# We have Null Values at 'Displayed Comment' and 'Scheduled at' columns and we shall get rid of the columns because they are not relevant

df.drop(['Displayed comment'],axis=1,inplace=True)
df.drop(['Scheduled at'],axis=1,inplace=True)
df.isnull().sum()

Address                0
Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Geo point              0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

##### Checking for Duplicates

In [119]:
df.duplicated().sum()

0

#### Checking for Unique Values

In [120]:
df.nunique()

Address                1104
Cars                      8
Bluecar counter           8
Utilib counter            3
Utilib 1.4 counter        4
Charge Slots              3
Charging Status           3
City                     88
ID                     1105
Kind                      4
Geo point              1105
Postal code             107
Public name            1105
Rental status             4
Slots                     8
Station type              3
Status                    3
Subscription status       3
year                      1
month                     1
day                       9
hour                     24
minute                   60
dtype: int64

In [17]:
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

### Answering the Questions

##### The most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [32]:
df1 = df[(df['City']=='Paris')&(df['year']==2018)] 
df1.groupby('hour')['Bluecar counter'].count().sort_values(ascending=False).head(1)

hour
21    147
Name: Bluecar counter, dtype: int64

#### What is the most popular hour for returning cars?

In [33]:
df.groupby('hour')['Cars'].count().sort_values(ascending=False).head(1)

hour
21    237
Name: Cars, dtype: int64

##### What station is the most popular Overall?

In [39]:
df[['Bluecar counter','Utilib counter','Utilib 1.4 counter']].sum().sort_values(ascending=False).head(1)

Bluecar counter    11668
dtype: int64

In [ ]:
# From the above results Bluecar counter is the most popular station overall with 11668 cars

##### What station is the most popular at the most popular picking hour?

In [62]:
df[(df['hour']==21)&(df['Cars']==1)][['Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter']].sum().sort_values(ascending=False).head(1)

Bluecar counter    34
dtype: int64

##### What postal code is the most popular for picking up Blue cars overall?

In [67]:
df.groupby('Postal code')['Bluecar counter'].count().sort_values(ascending=False).head(1)

Postal code
75015    274
Name: Bluecar counter, dtype: int64

##### What postal code is the most popular for picking up Blue cars at the most popular picking hour?

In [80]:
df[(df['hour']==21)&(df['Cars']==1)][['Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter']].sum().sort_values(ascending=False).head(1)

Bluecar counter    34
dtype: int64

#### Does the most popular station belong to that postal code overall?

In [94]:
df[(df['Postal code']==75015)&(df['Bluecar counter']>=1)]['Bluecar counter'].count() == df[(df['Postal code']==75015)&(df['Bluecar counter']>=1)]['Bluecar counter'].sum()

False

#### Does the most popular station belong to that postal code  at the most popular picking hour?

In [96]:
df[(df['Postal code']==75015)&(df['Bluecar counter']>=1)]['Bluecar counter'].count() == df[(df['Postal code']==75015)&(df['Bluecar counter']>=1)]['Bluecar counter'].sum()

df[(df['hour']==21)&(df['Cars']==1)][['Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter']].sum().sort_values(ascending=False).head(1)>0

Bluecar counter    True
dtype: bool

##### Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

In [101]:
df[['Utilib counter', 'Utilib 1.4 counter']].sum().sort_values(ascending=False).head(1) > 0

Utilib 1.4 counter    True
dtype: bool